@use '../variables';

.clock__wrapper {
    padding-top: 40px;
    height: fit-content;
    display: grid;
    align-items: center;
    justify-items: center;
}

.clock__container {
    border-radius: 15px;
    border: 5px solid variables.$white-color;
    width: 50%;
    height: 50%;
    background-color: variables.$fourth-color;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.24);
}

.clock__time {
    font-size: 150px;
    color: variables.$white-color;

    @media screen and (max-width: variables.$tablet) {
        font-size: 100px;
    }

    @media screen and (max-width: variables.$mobile) {
        font-size: 60px;
    }
}

.clock__title-end {
    font-size: 30px;
    text-align: center;
    font-family: variables.$titles;
    color: variables.$white-color;

    @media screen and (max-width: variables.$mobile) {
        font-size: 20px;
        }
}

.clock__buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: variables.$notebook){
        flex-direction: column;
        align-items: center;
    }
}