//Colores
$primary-color: #161818;
$secondary-color: #43241a;
$light-color: #8c5c43;
$fourth-color: #93806e;
$white-color: #d0cec1;

//Tipografia
$titles: 'Mate SC', serif;
$paragraphs: 'Lato', sans-serif;

//mediaqueries

$notebook: 1300px;
$tablet: 800px;
$mobile: 500px;